<template>
	<div class="wrapper">
		<nav>
			<router-link to="/">Calculator</router-link>
			<router-link to="/graph">Graph</router-link>
			<router-link to="/settings">Settings</router-link>
		</nav>
		<main>
			<router-view></router-view>
		</main>
		<footer>All game content is owned by Coffee Stain Studios. This website is not affiliated with them in any way. The source for this website is available <a href="https://gitlab.com/Nulifier/satisfactory-calc">here</a>, comments are welcome.</footer>
	</div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class App extends Vue {

}
</script>

<style lang="less" scoped>
	@height: 3rem;
	@background: #4f4f4a;
	@highlight: #e59344;
	@footer-color: #ccc;
	@footer-height: 2rem;

	.wrapper {
		min-height: 100%;
		position: relative;
	}

	main {
		padding: 0.8rem;
		padding-bottom: @footer-height + 1rem;
	}

	footer {
		font-size: 0.8rem;
		height: @footer-height;
		line-height: @footer-height;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		margin-top: 1rem;
		background-color: @footer-color;
		text-align: center;
		color: #666;
	}

	nav {
		height: @height;
		background-color: @background;

		padding: 0;
		font-size: 0;

		a {
			font-size: 1rem;
			display: inline-block;
			height: @height;
			line-height: @height;
			margin: 0;
			padding: 0 1em;
			color: #fff;
			text-decoration: none;
			width: 7em;
			text-align: center;

			&.router-link-exact-active {
				font-weight: bold;
				background-color: @highlight;

				&:hover {
					background-color: lighten(@highlight, 10%);
					text-decoration: none;
				}
			}

			&:hover {
				background-color: lighten(@background, 10%);
				text-decoration: none;
			}
		}
	}
</style>
