<template>
	<div>
		<h3>Desired Outputs</h3>
		<div class="outputs">
			<OutputSelector></OutputSelector>
		</div>
		<h3>Required Machines</h3>
		<div class="machines">
			<ProductionChain></ProductionChain>
		</div>
	</div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import OutputSelector from "./OutputSelector.vue";
import ProductionChain from "./ProductionChain.vue";

@Component({
	components: {
		OutputSelector,
		ProductionChain
	}
})
export default class Caclulator extends Vue {

}
</script>

<style lang="less" scoped>
	.outputs {
		margin-bottom: 1rem;
	}
</style>
