<template>
	<div>
		<h3>Desired Outputs</h3>
		<div class="outputs">
			<OutputSelector></OutputSelector>
		</div>
		<h3>Graph</h3>
		<div v-if="productionSteps">
			<svg id="graph-svg-canvas">
				<g id="graph-group"></g>
			</svg>
		</div>
		<div v-else class="alert-error">
			Error: {{ error }}
		</div>
	</div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Watch } from "vue-property-decorator";
import * as d3 from "d3";
import dagreD3 from "dagre-d3";
import svgPanZoom from "svg-pan-zoom";
import OutputSelector from "./OutputSelector.vue";
import { calculateSteps } from "../data/calculator";
import { round } from "../util";
import store from "../store";
import { IProductionStep } from "../models";
import { machinesById } from "../data/machines";
import { recipesById } from "../data/recipes";
import { itemsById } from "../data/items";

@Component({
	components: {
		OutputSelector
	}
})
export default class Graph extends Vue {
	renderFunc = new dagreD3.render();
	error: string | null = null;
	zoom: SvgPanZoom.Instance;

	get productionSteps() {
		this.error = null;
		try {
			return calculateSteps(store.state.requiredOutputs, { enabledMachines: store.getters.enabledMachines });
		}
		catch (e) {
			this.error = e.message;
			return null;
		}
	}

	@Watch("productionSteps")
	onProductionChanged() {
		// Make sure the recipe is doable
		if (this.productionSteps) {
			Vue.nextTick(this.renderGraph);
		}
	}

	mounted() {
		this.renderGraph();

		// Listen to the resized event
		window.addEventListener("resize", this.onResize);
	}

	beforeDestroy() {
		// Remove the zoom function
		if (this.zoom) {
			this.zoom.destroy();
		}

		// Remove the resized event listener
		window.removeEventListener("resize", this.onResize);
	}

	renderGraph() {
		const svgGroup = d3.select("#graph-svg-canvas > #graph-group");

		const g = new dagreD3.graphlib.Graph()
			.setGraph({})
			.setDefaultEdgeLabel(() => ({}));

		this.fillGraph(g, this.productionSteps as IProductionStep[]);

		this.renderFunc(svgGroup as any, g);

		if (this.zoom) {
			this.zoom.destroy();
		}

		this.zoom = svgPanZoom("#graph-svg-canvas", {
			controlIconsEnabled: true,
			zoomScaleSensitivity: 0.4
		});
	}

	fillGraph(graph, productionSteps: IProductionStep[], parentKey?: string) {
		// All all the steps in then connect them to the parent (If it exists)
		for (let i = 0; i < productionSteps.length; ++i) {
			const step = productionSteps[i];
			const key = parentKey ? `${parentKey},${i}` : (i).toString(10);

			const recipe = recipesById[step.recipeId];
			const machine = machinesById[step.machineId];
			const outputName = itemsById[recipe.output.itemId].name;

			// Create a final output if this is the first step in the tree
			let localParentKey = parentKey;
			if (!parentKey) {
				localParentKey = `${outputName} ${i}`;
				graph.setNode(localParentKey, {label: outputName, class: "final-output"});
			}

			graph.setNode(key, {label: `${round(step.quantity, 1)} x ${machine.name}`});

			const itemOutputRate = step.quantity * recipe.baseRate * machine.rateMultiplier * recipe.output.quantity;

			if (localParentKey) {
				// We want the items to flow from this node to the parent (output)
				graph.setEdge(key, localParentKey, {label: `${round(itemOutputRate, 1)} ${outputName}/m`});
			}

			if (step.required) {
				this.fillGraph(graph, step.required, key);
			}
		}
	}

	onResize() {
		if (this.zoom) {
			this.zoom.resize();
			this.zoom.fit();
			this.zoom.center();
		}
	}
}
</script>

<style lang="less">
	#graph-svg-canvas {

		border: 1px solid lightgrey;
		width: 100%;
		height: 600px;

		g.final-output > rect {
			fill: #00ffd0;
		}

		text {
			font-weight: 300;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			font-size: 14px;
		}

		.node rect {
			stroke: #999;
			fill: #fff;
			stroke-width: 1.5px;
		}

		.edgePath path {
			stroke: #333;
			stroke-width: 1.5px;
		}
	}
</style>
