<template>
	<div>
		<h3>Calculator Settings</h3>
		<ul>
			<li>
				<input type="checkbox" name="use-persistence" :checked="persistenceEnabled" @input="setPersistenceEnabled($event)" />
				<label for="use-persistence">Save the calculator state between visits</label>
			</li>
			<li>
				<button @click="resetState">Reset Calculator State</button>
			</li>
		</ul>
		<h3>Enabled Belts</h3>
		<ul>
			<li v-for="belt in belts" :key="belt.id">
				<input type="checkbox" :name="belt.name" :checked="isBeltEnabled(belt.id)" @input="setBeltState(belt.id, $event)" />
				<game-icon type="belt" :entity="belt" :hover="false" />
				<label :for="belt.name">{{ belt.name }}</label>
			</li>
		</ul>
		<h3>Enabled Machines</h3>
		<ul>
			<li v-for="machine in machines" :key="machine.id">
				<input type="checkbox" :name="machine.name" :checked="isMachineEnabled(machine.id)" @input="setMachineState(machine.id, $event)" />
				<game-icon type="machine" :entity="machine" :hover="false" />
				<label :for="machine.name">{{ machine.name }}</label>
			</li>
		</ul>
	</div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { belts } from "../data/belts";
import store from "../store";
import { machines } from "../data/machines";

@Component
export default class Settings extends Vue {
	get persistenceEnabled() {
		return store.state.persistState;
	}

	get belts() {
		return belts;
	}

	get machines() {
		return machines;
	}

	isBeltEnabled(beltId: number) {
		return store.getters.isBeltEnabled(beltId) as boolean;
	}

	isMachineEnabled(machineId: number) {
		return store.getters.isMachineEnabled(machineId) as boolean;
	}

	setPersistenceEnabled(event: InputEvent) {
		store.commit("enablePersistence", (event.target as HTMLInputElement).checked);
	}

	resetState() {
		store.commit("resetState");
	}

	setBeltState(beltId: number, event: InputEvent) {
		store.commit("enableBelt", { beltId, enabled: (event.target as HTMLInputElement).checked });
	}

	setMachineState(machineId: number, event: InputEvent) {
		store.commit("enableMachine", { machineId, enabled: (event.target as HTMLInputElement).checked });
	}
}
</script>

<style lang="less" scoped>
	ul {
		list-style: none;
		padding: 0;
	}

	li {
		margin-bottom: 0.5em;
		height: 32px;

		input {
			margin-right: 0.7em;
			vertical-align: middle;
		}
	}
</style>
